body {
  background-color: #292929;
}

.main {
}

.main__image {
  display: block;
  position: relative;
  max-width: 100%;
  margin-left: 4%;
}

.main__title {
  position: absolute;
  color: #ebebeb;
  display: block;
  text-align: center;
  letter-spacing: 0.25em;
  margin-left: 70%;
  z-index: 1;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 4.2rem;
  bottom: 25%;
}

.app__logo {
  position: absolute;
  display: block;
  width: 6.5%;
  height: 6.5%;
  margin-left: 75.5%;
  z-index: 1;
  bottom: 16%;
}

.dark__mode {
  display: block;
  position: fixed;
  fill: white;
  margin-left: 96%;
  z-index: 1;
  top: 4%;
  cursor: pointer;
}
